<section class="footer section" itemscope itemtype="https://schema.org/Organization">
  <div class="container">
    <div class="section__item logo-wrap">
      <div class="section__subitem">
        {% if global.logo.vertical.white is defined %}
          <a href="{{ url('/') }}" class="link footer__logo-link" itemprop="url">
            <img src="{{ url(global.logo.vertical.white.src) }}" alt="{{ global.logo.vertical.white.alt|default('') }}" class="footer__logo img-responsive" loading="lazy" itemprop="logo">
          </a>
        {% endif %}
      </div>
    </div>
    <div class="section__item nav-wrap">
      {% if global.nav[lang_code].items is defined %}
        {% for link in global.nav[lang_code].items %}
          {% if link.visible is not defined or link.visible %}
          <div class="footer__link-wrap">
            <a href="{{ url(link.href) }}" class="link footer__link">{{ link.title }}</a>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="section__item policy-agree-wrap">
      {% if global.policy[lang_code] is defined %}
<a href="{{ url(global.policy[lang_code].href) }}" class="link footer__disclaimer-link opacity-80">{{ global.policy[lang_code].title }}</a>

      {% endif %}
      {% if global.agree[lang_code] is defined %}
<a href="{{ url(global.agree[lang_code].href) }}" class="link footer__disclaimer-link opacity-80">{{ global.agree[lang_code].title }}</a>

      {% endif %}
    </div>
    <div class="section__item copyright-wrap">
      {% if global.copyright[lang_code] is defined %}
        <span class="footer__copyright opacity-80">© {{ "now"|date("Y") }}. {{ global.copyright[lang_code] }}</span>
      {% endif %}
    </div>
  </div>
</section>
