{% if item.href is defined %}
  <a href="{{ item.href }}" class="button-section {{ item.class|default('') }} link" {% if item.target is defined %}target="{{ item.target }}"{% endif %}>
    <div class="button-section__item title-wrap">
      <span class="button-section__title">{{ item.title | raw }}</span>
    </div>
    {% if item.icon is defined %}
      <div class="button-section__item icon-wrap {{ item.icon.class|default('') }}">
        <img src="{{ item.icon.src }}" alt="{{ item.icon.alt|default('') }}" class="img-responsive" loading="lazy">
      </div>
    {% endif %}
  </a>
{% else %}
  <div class="button-section {{ item.class|default('') }}">
    <div class="button-section__item title-wrap">
      <span class="button-section__title">{{ item.title | raw }}</span>
    </div>
    {% if item.icon is defined %}
      <div class="button-section__item icon-wrap {{ item.icon.class|default('') }}">
        <img src="{{ item.icon.src }}" alt="{{ item.icon.alt|default('') }}" class="img-responsive" loading="lazy">
      </div>
    {% endif %}
  </div>
{% endif %}
